In [64]:
import numpy as np
import pandas as pd
from sklearn import linear_model
from matplotlib import pyplot
%matplotlib inline

In [65]:
df = pd.read_csv('../data-101/offenses_new_york_city_2013.csv')

In [66]:
df.columns = ['City', 'Population', 'Violent_crime', 'Murder', 'Rape', 'Rape2', 'Robbery', 'Agg_assault', 
              'Property_crime', 'Burglary', 'Larceny_theft', 'MV_theft', 'Arson3']

In [67]:
df.head()

,City,Population,Violent_crime,Murder,Rape,Rape2,Robbery,Agg_assault,Property_crime,Burglary,Larceny_theft,MV_theft,Arson3
0,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0.0
1,Addison Town and Village,2577,3,0,NaN,0,0,3,24,3,20,1,0.0
2,Akron Village,2846,3,0,NaN,0,0,3,16,1,15,0,0.0
3,Albany,97956,791,8,NaN,30,227,526,4090,705,3243,142,NaN
4,Albion Village,6388,23,0,NaN,3,4,16,223,53,165,5,NaN

In [68]:
x = pd.DataFrame()
x['Population'] = df['Population']
x['Population2'] = [x*x for x in x['Population'].tolist()]
x['Murder'] = df['Murder'].apply(lambda x: 1 if x > 0 else 0)
x['Robbery'] = df['Robbery'].apply(lambda x: 1 if x > 0 else 0)

In [69]:
x.head()

   Population  Population2  Murder  Robbery
0        1861      3463321       0        0
1        2577      6640929       0        0
2        2846      8099716       0        0
3       97956   9595377936       1        1
4        6388     40806544       0        1