In [1]:
import numpy as np
import pandas as pd
import scipy
import math
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

from IPython.display import display
from sklearn import linear_model
from sklearn.svm import SVR
from sklearn.model_selection import cross_val_score

In [2]:
def isNaN(x):
    return x == x

In [3]:
# read in dataset
df = pd.read_csv('../data-201-resources-master/AirlineArrival/Arrival_2008.csv')
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [5]:
# clean up data, only keep relevant columns
df_data = pd.DataFrame()
df_data['DepTime'] = df['DepTime']
df_data['ArrTime'] = df['ArrTime']
df_data['ActualElap'] = df['ActualElapsedTime']
df_data['AirTime'] = df['AirTime']
df_data['DepDelay'] = df['DepDelay']
df_data['Distance'] = df['Distance']
df_data['ArrDelay'] = df['ArrDelay']

In [6]:
# let drop NaN from df_data & Y
df_data = df_data.dropna()
# by data logic, Arrtime should be greater than DepTime
df_data = df_data[df_data.ArrTime > df_data.DepTime]

In [7]:
df_data.isnull().sum()

DepTime       0
ArrTime       0
ActualElap    0
AirTime       0
DepDelay      0
Distance      0
ArrDelay      0
dtype: int64

In [8]:
Y = pd.DataFrame()
Y['ArrDelay'] = df_data['ArrDelay']

# Now setup df_data & Y
df_data = df_data.drop(['ArrDelay'], axis=1)

In [9]:
print(df_data.shape)
print(Y.shape)

(6636795, 6)
(6636795, 1)

In [10]:
# use SVR model
regr = linear_model.LinearRegression()
regr.fit(df_data, Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [11]:
print(regr.score(df_data, Y))

0.9452797870154847

In [12]:
from sklearn.model_selection import cross_val_score
cross_val_score(regr, df_data, Y, cv=5)

array([0.94872605, 0.94207644, 0.95075281, 0.93234335, 0.94147467])